:root{
    --background-primary-color: black;
    --background-secundary-color: black;
    --details-primary-color: gray;
    --details-secundary-color: black;
}

.container{
    display: flex;
    justify-content: space-between;
}

main{
    background-color: gray;
    width: 70vw;
    height: 100%;
}