nav{
    width: 25%;

    display: flex;
    justify-content: space-between;

    list-style: none;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;

    font-size: 1.2em;
    letter-spacing: .05em;
}

nav a:hover {
    text-shadow: 0px 0px 5px gray;
}